html {
    box-sizing: border-box;
  }

  * {
    box-sizing: inherit;
  }

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 15px;
}

footer {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 15px;
    padding-right: 0px;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

.recipe-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.recipe-grid a {
    color: #44803F;
    text-decoration: none;
}

h1 {
    color: #146152;
}

nav {
    background-color: #FF5A33;
}

nav a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #B4CF66;
}

.striped-table tbody > :nth-child(even) {
    background-color: lightgrey;
}
